<script lang="ts" setup>
import { ref } from "vue";
const emot = ref("Smile");
const imgsemotion = ref("./feeling_imgs/smile.png");
const activeang = ref();
const nonactiveang = ref(false);
const activecute = ref();
const nonactivecute = ref(false);
const activeexc = ref();
const nonactiveexc = ref(false);
const activepain = ref();
const nonactivepain = ref(false);
const activesho = ref();
const nonactivesho = ref(false);
const activesmile = ref(true);
const nonactivesmile = ref(false);
const doAng = () => {
  imgsemotion.value = "./feeling_imgs/angry.png";
  emot.value = "Angry";
  activeang.value = true;
  activecute.value = false;
  activeexc.value = false;
  activepain.value = false;
  activesho.value = false;
  activesmile.value = false;
};

const doCut = () => {
  imgsemotion.value = "./feeling_imgs/cute.png";
  emot.value = "Cute";
  activeang.value = false;
  activecute.value = true;
  activeexc.value = false;
  activepain.value = false;
  activesho.value = false;
  activesmile.value = false;
};
const doExc = () => {
  imgsemotion.value = "./feeling_imgs/excited.png";
  emot.value = "Excited";
  activeang.value = false;
  activecute.value = false;
  activeexc.value = true;
  activepain.value = false;
  activesho.value = false;
  activesmile.value = false;
};
const doPain = () => {
  imgsemotion.value = "./feeling_imgs/pain.png";
  emot.value = "Pain";
  activeang.value = false;
  activecute.value = false;
  activeexc.value = false;
  activepain.value = true;
  activesho.value = false;
  activesmile.value = false;
};
const doSho = () => {
  imgsemotion.value = "./feeling_imgs/shocked.png";
  emot.value = "Shocked";
  activeang.value = false;
  activecute.value = false;
  activeexc.value = false;
  activepain.value = false;
  activesho.value = true;
  activesmile.value = false;
};
const doSmile = () => {
  imgsemotion.value = "./feeling_imgs/smile.png";
  emot.value = "Smile";
  activeang.value = false;
  activecute.value = false;
  activeexc.value = false;
  activepain.value = false;
  activesho.value = false;
  activesmile.value = true;
};
</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <v-img :src="imgsemotion" width="700"></v-img>
      </v-col>
      <v-col>
        <h1 style="text-align: center">{{ emot }}</h1>
        <br />
        <div>
          <v-btn
            block
            @click="doAng()"
            height="80"
            :class="{ active: activeang, nonactive: nonactiveang }"
          >
            ANGRY
          </v-btn>
          <br />
          <v-btn
            block
            @click="doCut()"
            height="80"
            :class="{ active: activecute, nonactive: nonactivecute }"
          >
            CUTE
          </v-btn>
          <br />
          <v-btn
            block
            @click="doExc()"
            height="80"
            :class="{ active: activeexc, nonactive: nonactiveexc }"
          >
            EXCITED
          </v-btn>
          <br />
          <v-btn
            block
            @click="doPain()"
            height="80"
            :class="{ active: activepain, nonactive: nonactivepain }"
          >
            PAIN
          </v-btn>
          <br />
          <v-btn
            block
            @click="doSho()"
            height="80"
            :class="{ active: activesho, nonactive: nonactivesho }"
          >
            SHOCKED
          </v-btn>
          <br />
          <v-btn
            block
            @click="doSmile()"
            height="80"
            :class="{ active: activesmile, nonactive: nonactivesmile }"
          >
            SMILE
          </v-btn>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.active {
  background-color: yellow;
}

.nonactive {
  background-color: white;
}
</style>
