<script lang="ts" setup>
import { ref, computed } from "vue";

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);
const orderList = ref<{ id: number; name: string; price: number }[]>([]);
const add = (order: { id: number; name: string; price: number }) => {
  orderList.value.push(order);
};
const sumPrice = computed(function () {
  return orderList.value.reduce((sum, item) => sum + item.price, 0);
});
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="6">
        <v-container fluid style="overflow-y: auto" class="listScreen">
          <v-row>
            <v-col md="4" v-for="item in products" :key="item.id">
              <div>
                <v-card class="mx-auto" max-width="270" variant="outlined">
                  <v-card-item>
                    <div>
                      <div class="text-h6 mb-1" style="text-align: center">
                        {{ item.name }}
                      </div>
                      <div style="text-align: center">{{ item.price }}</div>
                    </div>
                  </v-card-item>

                  <v-card-actions class="justify-center">
                    <v-btn variant="outlined" @click="add(item)"> ADD </v-btn>
                  </v-card-actions>
                </v-card>
              </div>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
      <v-col cols="6">
        <v-container fluid style="overflow-y: auto" class="orderScreen">
          <v-table>
            <thead>
              <tr>
                <th class="text-left">id</th>
                <th class="text-left">name</th>
                <th class="text-left">price</th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="orderList.length === 0">
                <td></td>
                <th style="text-align: center">NO Data</th>
              </tr>
              <tr v-for="(item, index) of orderList" :key="index">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
              </tr>
            </tbody>
          </v-table>
        </v-container>

        <h1 class="ma-5">Sum: {{ sumPrice }}</h1>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.listScreen {
  height: 90vh;
}
.orderScreen {
  height: 80vh;
}
</style>
