<script lang="ts" setup>
import { ref } from "vue";
const list = ref<number[]>([]);
const num = ref(0);

const addNum = () => {
  list.value.splice(0, list.value.length);
  for (var i = 1; i <= num.value; i++) {
    list.value.push(i);
  }
};
</script>

<template>
  <v-text-field
    v-model="num"
    :rules="[(v) => !!v || 'Number Is not empty!!']"
    label="Please input Number"
    :oninput="addNum"
    required
  ></v-text-field>
  <v-container>
    <v-row>
      <v-col cols="1" md="1" v-for="(item, index) in list" :key="index">
        <div>{{ item }}</div>
      </v-col>
    </v-row>
  </v-container>
</template>
