<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const counter = useCounterStore();
function del() {
  counter.reducecrement();
}
</script>
<template>
  <div>Second Component</div>
  <div>{{ counter.doubleCount }}</div>
  <v-btn @click="del">DECREASE</v-btn>
</template>
